* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
}

/*CONTAINER*/
.form-container {
  
  width: 100%;
  background-image: 
    linear-gradient(rgba(41, 5, 29, 0.7), rgba(23, 1, 15, 0.7)),
    url('/images/00cd6911f3629873268598cecc81a472fd83c574.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  
}
/* PASSWORD WRAPPER */
.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 2.5rem;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
  font-size: 0.9rem;
}

.toggle-password:hover {
  color: #620A45;
}

/*  FORM WRAPPER  */
.overlay {
  width: 100%;
  max-width: 420px;
}

/* logo */
.logo-div {
  display: flex;
  justify-content: center;
  margin-bottom: -8rem;
  text-align: center;
  
}
.button-div{
  text-align: center;
}
.logo-div img{
  margin-top: -50px;
  width: 200px;
}
.logo-box {
  width: 180px;
  height: auto;
}

/* FORM GROUP */
.form-group {
  margin-bottom: 1rem;
  
  
}

/* LABEL */
label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 0.85rem;
  font-weight: 500;
  color: #fff;
}

/*INPUT*/
input {
  width: 100%;
  padding: 0.65rem 0.8rem;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  font-size: 0.85rem;
  outline: none;
}

input:focus {
  border-color: #7b1b7e;
}
.form-message{
  text-align: center;
  font-size: 20px;
}
input.error-input {
  border-color: #e74c3c;
}

/*ERROR*/
.error {
  font-size: 0.7rem;
  color: #e74c3c;
  margin-top: 0.3rem;
  display: none;
}

/*  BUTTON  */
.button {
  width: 40%;
  margin-top: 2rem;
  padding: 0.75rem;
  border-radius: 10px;
  border: none;
  background: #fff;
  color: #620A45;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;

}

.button:hover {
  background: #5b0a5f;
  color: #fff;
}

/* FOOTER  */
.footer-text {
  text-align: center;
  margin-top: 1.6rem;
  font-size: 0.8rem;
  color: #fff;
}

.footer-text a {
  color: #fff;
  font-weight: 500;
}
.footer-text a:hover{
  color: #86406f;
  
}

/* 
   TABLET (≥768px)
 */
@media (max-width: 768px) {

.logo-div img{
  margin-top: -200px;
  padding-top: 50px;
  margin-bottom: -50px;
}

.form-container{
  margin-top:112px;
}
 .form-message{
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
}


