*{margin:0;padding:0;box-sizing:border-box;font-family:Arial,sans-serif;}


/* TOP GREY BAR */
.top-bar{
  
  color:#fff;
  padding:10px 16px;
  font-size:13px;
}

/* HERO CARD */
.hero{
text-align: center;
  border-bottom-left-radius: 30px;
   border-bottom-right-radius:30px;
  overflow:hidden;
  position:relative;
  background:  linear-gradient(rgba(41, 5, 29, 0.7), rgba(23, 1, 15, 0.7)), url("/images/ae91cb79f3012e65059c4f6082a861b26f8d11be.jpg") center/ cover no-repeat;
  
    
}

.hero-content{
  position:relative;
  padding:0;
  color:#fff;
}

/* HERO TOP ROW */
.hero-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin: auto;
  width: 1000px;
 
 
}
.logo{
  display:flex;
  align-items:center;
  gap:8px;
}
.notification-icon{
  position: absolute;
  top: 23%;
  right: 350px;
  width: -2px;
  
}

.hero-icons span{

width: -50px;
  cursor:none;
}

/* USER ROW */
.user-row{
  display:flex;
  align-items:center;
  gap:12px;
  margin:0px 250px 16px;
  position: absolute;
  top: 40%;

}
.avatar{
  width:42px;
  height:42px;
  background:#fff;
  color:#620A45;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}

/* SEARCH */
.search{
  padding:10px 18px;
  width: 150%;
  margin-top: 80px;
  margin-left:-350px;
  
}
.search a{
  border-style: solid;
border-color: #fff;
border-width: 1px;
border-radius:30px;
padding: 10px 700px 10px 10px;
text-decoration: none;
}
.search input{
  width:100%;
  border:none;
  outline:none;
}
.search-icon {
  margin-right: 10px; 
  vertical-align: middle; 
  width: 30px;
}

.search-text {
  color: #fff;
  
  margin: 0;
  display: inline; 
}
.menu-icons{
  margin-left:900px;
  margin-top: 30px;
  margin-bottom: 100px;
  
}
.menu-icons img{
  width: 80px;
}

/* STATS */
.stats{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:-112px;
  padding:0 16px;
  margin: 100px 70px 50px 70px;
  
}
.stat{
 
  background:#d9d9d9;
  padding:30px 20px 70px 30px;
  border-radius:10px;
  font-size:13px;
  display: inline-block;
  flex-direction:row;
  width: 90%;
  

  
  
}
.analysis-icon{
  margin-left: 200px;
  margin-top: -100px;

}

.stat-header{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.stat-header span{
  font-size: 17px;
}
.stat-icon1{
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #bf1687;
  width: 60px;
  text-align: center;
   padding: 10px 5px 5px 5px;;

}
.stat-icon2{
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #1fd234;
  width: 60px;
  text-align: center;
  padding: 10px 5px 5px 5px;

}.stat-icon3{
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #166dbf;
  width: 60px;
  text-align: center;
  padding: 10px 5px 5px 5px;

}.stat-icon4{
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #e04e4d;
  width: 60px;
  text-align: center;
  padding: 5px 5px 2px 5px;

}

/* ATTENDANCE BANNER */
.attendance{
  margin:50px 90px 50px 60px;
  background:linear-gradient(135deg,#7a0b5f,#50003c);
  display: flex;
  flex-direction: row;
  gap: 400px;
  
  padding:20px 0 20px 56px;
  border-radius:12px;
}
.attendance img{
  margin-top: 25px;
  margin-left: 400px;
  
}
.attendance h2{font-size:28px; color: #fff;}
.attendance p{font-size:17px; font-weight: 50; margin:0px 5px 12px; color: #d9d9d9;}
.attendance-rate{
  font-size:60px;
  font-weight:bolder;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  color: #fff;
}
.attendance-rate p{
  margin-top: 25px;
  margin-left: 30px;
}
/* GRID SECTION */
.grid{
  margin:80px 16px 0 60px;
  
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows: repeat(2, 125px);
  grid-template-areas: 
  "green1 red2 qr" "red1 green2 qr";
  justify-content: center;
  align-items: center;
}
.box{
  padding:14px;
  border-radius:10px;
  color:#fff;
  width:300px;
  
  
}

.box p{
  font-size: 30px;
  font-weight: 800;
  padding-left: 20px;

}
.green1{background:#1fd234; grid-area: green1;  display: flex;
flex-direction: row;width: 90%;height: 200px;}

.red1{background:#e04e4d; grid-area: red2;display: flex;
flex-direction: row; width: 90%;height: 200px; }
.box strong{display:block;}
.box small{font-size:12px;}
.green2{background:#1fd234; grid-area: green2;display: flex; width: 90%;margin-top: 250px;height: 200px;
flex-direction: row;}
.red2{background:#e04e4d; grid-area: red1;display: flex;
flex-direction: row;width: 90%;margin-top: 250px;height: 200px;}
/* QR */
.qr{
  margin-top: 120px;
  margin-right: 70px;
  border-radius:10px;
  padding:52px 0 52px 0;
  text-align:center;
  grid-area: qr;
  background: #d9d9d9;
 
}
.qr img{width:300px;margin-top:10px; height: 300px; margin-left: 20px;margin-right: 20px;}
/* FOOTER */
footer{
  background:#6b0055;
  color:#fff;
  text-align:center;
  padding:100px 0 100px 0 ;
  margin-top:200px;
  font-size:20px;
}
/* Respnsive */
@media (max-width: 768px) {

  /* GENERAL RESET */
  body {
   
    background: #fff;
  }


/* HERO CARD */


.hero-content{
  position:relative;
  padding:0;
  color:#fff;
}

/* HERO TOP ROW */
.hero-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
 margin: -20px 20px 50px 10px;
  width: 500px;
 
 
}
.logo{
  width: 250px;

}
.notification-icon{
  position: absolute;
  top: 13%;
left: 300px;
  width: -50px;

  
}

.hero-icons span{
justify-content:center;
width: -20px;
  cursor:none;
  margin-right: 250px;
}

 .hero-icons img{
  width: 20px;
 }


  /* USER ROW */
  .user-row {
    margin: -20px 10px 0 10px;
  }

  /* SEARCH */
  .search {
    width: 100%;
    margin: 100px 0 0 0;
    padding: 10px 14px;
  }
.search a{
  padding: 10px 100px 10px 10px;
}
.search p {
  font-size: 10px;
  margin-right: 10px;
}
.search-icon {
 
  width: 15px;
}
  /* MENU ICONS */
  .menu-icons {
    margin: 20px 0 40px;
    text-align: center;
  }

  .menu-icons img {
    width: 50px;
  }


  /* STATS */
  .stats {
    grid-template-columns: 1fr 1fr;
    margin: 40px 16px;
    gap: 16px;
     text-align: center;
  }

  .stat {
    width: 100%;
    padding: 20px;
   
  }
.stat-icon1{
  margin-left: 25px;
}
.stat-icon2{
  margin-left: 25px;
}
.stat-icon3{
  margin-left: 25px;
}
.stat-icon4{
  margin-left: 25px;
}
  .analysis-icon {
    margin: 0;
    text-align:center;
  }

  /* ATTENDANCE */
  .attendance {
    flex-direction: column;
    gap: 20px;
    margin: 70px 16px;
    padding: 100px 20px 0 20px;
    text-align: center;
  }
  .attendance img{
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
.attendance p{
  margin-top: 20px;
}
  .attendance-rate {
    font-size: 40px;
    justify-content: center;
    margin-top: 10px;
    
  }

  .attendance-rate p {
    margin: 10px 0 0 12px;
  }

  /* GRID SECTION */
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "green1"
      "red2"
      "green2"
      "red1"
      "qr";
    margin: 100px 16px;
    gap: 56px;
  }

  .box {
    width: 100%;
    padding: 16px;
  
  }
  .box p{
  font-size: 20px;
  font-weight: 800;
  padding-left: 20px;

}
.box small{
  font-size: 13px;
}

.green1{
  margin: 0 0 0 0;
  padding: 50px;
}
.red1{
  margin: 100px 0 0 0;
   padding: 50px;
}
.green2{
  margin: 60px 0 0 0;
   padding: 50px;
}
.red2{
   margin: -25px 0 0 0;
    padding: 50px;
}
  /* QR */
  .qr {
    margin:0px ;
  }

  .qr img {
    width: 100%;
    max-width: 240px;
    height: auto;
  }

  /* FOOTER */
  footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: -20px;
  }
}