/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
}

/* COLORS */
:root {
  --primary: #5b0f3b;
  --primary-dark: #50003c;
  --accent: #620A45;
  --green: #1fd234;
  --red: #e04e4d;
  --gray: #d9d9d9;
}

/*  HEADER */
.top-header {
  height: 70px;
  background: var(--primary);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo {
  width: 120px;
}

.header-right {
  display: flex;
  align-items: center;
}

.icon {
  width: 22px;
  margin-left: 20px;
  cursor: pointer;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* LAYOUT  */
.dashboard-wrapper {
  display: flex;
  min-height: calc(100vh - 70px);
}

/* SIDEBAR  */
.sidebar {
  width: 260px;
  background: var(--primary-dark);
  color: #fff;
  padding: 25px 20px;
}

.user-info {
  text-align: center;
  margin-bottom: 40px;
}

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #fff;
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-weight: bold;
}

.nav-menu {
  list-style: none;
  margin-top: 30px;
}

.nav-menu li {
  margin: 18px 0;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 10px 14px;
  border-radius: 6px;
}

.nav-menu li.active a,
.nav-menu a:hover {
  background: rgba(255, 255, 255, 0.15);
}

.logout a {
  color: #ffd7e9;
}

/*  MAIN CONTENT */
.main-content {
  flex: 1;
  padding: 30px;
}

/* SEARCH */
.search-box {
  margin-bottom: 30px;
}

.search-box input {
  width: 100%;
  padding: 14px 18px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
}

/*  STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: var(--gray);
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.card img{
  width: 60px;
   padding: 10px 20px;
 
  border-radius: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.orange img{
  background-color: #e04e4d;
}
.blue img{
  background-color: #166bdf;
}
.pink img{
  background-color: #bf1687;
}
.card strong {
  display: block;
  font-size: 28px;
  margin-top: 10px;
}
.stt{
  display: flex;
  flex-direction: row;

}


/* attendance */
.attendance {
  background: linear-gradient(
    135deg,
    var(--primary),
    var(--primary-dark)
  );
  color: #fff;
  border-radius: 14px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate {
  font-size: 48px;
  font-weight: bold;
}

/* grid */
.summary-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.box {
  padding:25px ;
  color: #fff;
  height: 30vh;
  border-radius: 12px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  gap: 20px;
  flex-direction: row;

 
}
.small{
  position:absolute; top: 85%;left: 375px;
}
.box img{
  width: 50px;
  height: 50px;
  margin-top: 30px;
}
.box span{
  margin-top: 30px;
}
.green {
  background: var(--green);
}

.red {
  background: var(--red);
}

.box span {
  display: block;
  font-size: 30px;
}

/* QR */
.qr {
  grid-row: span 2;
  background: var(--gray);
  color: #333;
  text-align: center;
  padding: 25px;
  border-radius: 12px;
}

.qr img {
  width: 220px;
  margin-top: 15px;
}

/* footer */
.footer {
  text-align: center;
  padding: 25px;
  background: var(--primary);
  color: #fff;
  margin-top: 40px;
}


@media (max-width: 768px) {
  body {
  overflow-x: hidden; 
  width: 100%;
}
  .menu-toggle {
    display: block;
    z-index: 1001; 
  }

  .menu-toggle img {
    width: 25px;
  }

  .sidebar {
    position: fixed;
    top: 70px; 
    left: -270px;
    width: 260px;
    height: calc(100vh - 70px);
    z-index: 1000;
    transition: 0.3s ease-in-out;
    display: block; 
  }


  .sidebar.active {
    left: 0;
  }

  .stats {
    grid-template-columns: 1fr 1fr;
  }

  .summary-grid {
    grid-template-columns: 1fr;
  }

  .attendance {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
