* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
}

/* Navbar */
.navbar {
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 200px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}
/* 
/* Hamburger */
.hamburger {
  width: 40px;
  cursor: pointer;
 margin-top: 70px;
 
}



/* Overlay */
.nav-overlay {
    margin-top: 70px;
  width: 100%;
  height: 80vh;
  background:
    linear-gradient(rgba(91,15,59,0.7), rgba(91,15,59,0.7)),
    url("/images/9f2f0fa6d6d656168453c84a42fdb748d856e070.jpg") center/cover no-repeat;
  display: flex; 
   align-items: center;
  justify-content: center;
  
  
}


.nav-links {
  list-style: none;
}

.nav-links li {
  margin: 40px 0;
  position: relative;
  margin-left: 350px;
  
}

.nav-links li::before {
  content: "";
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: -150px;
  top: 25%;
  

}

.nav-links a {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Desktop */
@media (max-width: 768px) {
  .nav-links a {
    font-size: 24px;
  }
  .navbar{
     margin-left: -100px;
  margin-right: 10px;
  }
  .logo img{
    width: 70%;
  }
  .hamburger img{
    width: 60%;
  }
  .nav-links li::before {
    content:none;
 
}
.nav-links li {
  margin: 40px 0;
  position: relative;
  margin-left: -150px;
  
  
}
}
